.body {
    font-family: Arial, Helvetica, sans-serif;
}
#div-allposts {
    margin: 2%;
}
#new-post-content {
    font: 14px Arial, Sans-Serif;
    font-style: italic;
    width: 75%;
}
.table-allposts {
    width: 75%;
    height: auto;
}
.tr-posts {
    width: 100%;
}
#td-posts {
    width: 100%;
    padding: 10px;
    border: 1px solid;
    border-color:#B0B0B0;
    border-radius: 10px;
}
.p-post-name {
    font: 16px Arial;
    color: blue;
}
.p-post-content {
    font: 13px Arial;
}
.p-post-time {
    font: 10px Arial;
}
.p-post-likes {
    font: 12px Arial;
    width: 45px;
    margin-top: 10px;
}
.div-img-flex {
    display: flex;
}
.img-like-btn {
    width: auto;
    height: 35px;
}
#p-total-likes {
    font: 14px Arial;
    height: 25px;
    margin-top: 10px;
    width: 20px;
    font-weight: bold;
}
.td-follower-class {
    text-align: right;
}
#td-follower1 {
    width: 95%;
}
#td-follower2 {
    width: 5%;
    text-align: center;
}
#p-following {
    vertical-align: auto;
}
#btn-liked {
    border: none;
    outline: none;
    padding: 0%;
}
#btn-edit-post {
    padding-left: 5px;
    width: auto;
    height: 35px;
    border-radius: 5px;
    font: 12px Arial;
    border: 1px solid;
}
#div-name-edit {
    display: flex;
    justify-content: space-between;
}