{% extends "network/layout.html" %}

{% block body %}
<div id="div-allposts">
    <h2>Following Posts</h2><hr>
    {% if user.is_authenticated %}
    <table class="table-allposts" id="posts-table">
        {% for post,liked,likes in content %}
        <tr><td><br></td></tr>
        <tr class="tr-posts" id="tr-allposts">
            <td id="td-posts">
                <div id="div-name-edit">
                    <input type="hidden" name="edit-post-id" value="{{ post.id }}">
                    <span><p class="p-post-name"><a href="{% url 'profile' post.posted_by_user.username %}">{{ post.posted_by_user.username }}</a></p></span>
                </div>
                <p class="p-post-content">{{ post.content }}</p>
                <p class="p-post-time">{{ post.posted_time }}</p>
                <div class="div-img-flex">
                    {% if user.is_authenticated %}
                        <form method="POST">{% csrf_token %}
                            <input type="hidden" name="post-id" value="{{ post.id }}">
                            {% if liked_post_id == post.id %}
                                {% if liked %}
                                    <button type="submit" id="btn-liked" name="btn-unlike"><img class="img-like-btn" id="img-unlike" name="img-unlike" src="https://healthygirlfashion.files.wordpress.com/2016/09/poshmark-liked-button.jpg" autofocus></button>
                                {% else %}
                                    <button type="submit" id="btn-liked" name="btn-like"><img class="img-like-btn" id="img-like" name="img-like" src="https://healthygirlfashion.files.wordpress.com/2016/09/poshmark-like-button.jpg" autofocus></button>
                                {% endif %}
                            {% else %}
                                {% if liked %}
                                    <button type="submit" id="btn-liked" name="btn-unlike"><img class="img-like-btn" id="img-unlike" name="img-unlike" src="https://healthygirlfashion.files.wordpress.com/2016/09/poshmark-liked-button.jpg"></button>
                                {% else %}
                                    <button type="submit" id="btn-liked" name="btn-like"><img class="img-like-btn" id="img-like" name="img-like" src="https://healthygirlfashion.files.wordpress.com/2016/09/poshmark-like-button.jpg"></button>
                                {% endif %}
                            {% endif %}
                        </form>
                    {% endif %}
                        <img class="img-like-btn" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9e7kQ8rtx2XCRnZzaINKDHorF59r5ThnNJw&usqp=CAU">
                        <p id="p-total-likes">{{ likes }}</p>
                </div>
            </td>            
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}